body {
  background-color: #fff;
}
header {
  background-color: #C1DF1F;
}
.line {
  background-color: #C1DF1F;
}
footer {
  background-color: #C1DF1F;
}
article blockquote, article ul {
  border-left-color: #C1DF1F;
}
